.landing{
    height: 100vh;
    background-color: #ffffffff;
}


.heroTitle{
    font-size: 4rem;
    color: #0055A2;
    text-align: center;
}

.landingSect1{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.sect1left{
    display: flex;
    flex-direction: column;
}

.landingSect2{
    margin-top: 15%;
    text-align: center;
    /* background-color: green; */
    padding-bottom: 5%;
    float: center;
}

.threeSteps{
    display: table;
    /* background-color: red; */
    margin: 0 auto;
}

.threeSteps .threeStepsRow{
    display: table-row;
}

.threeSteps .threeStepsCell{
    display: table-cell;
    width: 33%;
    height: 350px;
    padding: 0px 15px;
    margin: 2%;
    /* background-color: red; */
    text-align: center;
    border: 2px #E5E5E5 solid;
    border-radius: 15px;
}

.createAccountBtn{
    background-color: #0055A2;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 10px 20px;
    align-self: center;
    margin-left: 100px;
    text-align: center;
}

.createAccountBtn:hover{
    background-color: #1760a5;

}