.landing{
    height: 100vh;
    background-color: #ffffffff;
}


.heroTitle{
    font-size: 4rem;
    color: #0055A2;
    text-align: center;
}

.landingSect1{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.sect1left{
    display: flex;
    flex-direction: column;
}

.createAccountBtn{
    background-color: #0055A2;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 10px 20px;
    align-self: center;
    margin-left: 100px;
    text-align: center;
}
