.tinderCard__container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.card{
    position: relative;
    background-color: white;
    width: 1000px;
    padding: 20px;
    max-width: 85vh;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
    
    background-position: center;
}

.swipe{
    position: absolute;
}

.card h1 {
    bottom: 0;
    margin: 0px;
    font-size: 30px;
    color: blue;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-size: 25px;
    color: gold;
}