.createProfile{
    background-color: #E6EEF6;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.createProfileBox{
    background-color: white;
    width: 500px;
    align-self: center;
    border-radius: 5px;
    margin: auto auto;
    padding: 2% 2%;
    padding-bottom: 3%;
}

.createProfileTitle{
    font-size: 1.3em;
    color: #011111;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.createProfileDesc{
    margin-top: 5px;
    text-align: center;
    font-size: .8rem;
    color: #4F4F4F;
    font-weight: 400;
}

.createProfileInputContainer{
    justify-self: center;
    align-self: center;
    width: 80%;
}

.inputLabel{
    font-family: 'Roboto';
    margin-bottom: 5px;
    font-weight: 600;
    font-size: .8em;
    
}

.createProfileInput{
    width: 100%;
    border: 1px solid #C4C4C4;
    color: black;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
}

.createProfileInput:focus{
    border:1px solid #4D90CD;
    outline: #4D90CD;
}

.createProfileInput::placeholder{
    color: #C4C4C4;
}

.createProfileForm{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
}

.createProfileButton{
    background-color: #4D90CD;
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 5%;
    float: right;
    position: relative;
    right: -12px;
}


/* PROGRESS BAR */

.progressText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 12px;
    color: #E5E5E5;
    margin-top: 4%;
}

.progressTextActive{
    color: #4D90CD;
    margin-right: 10px;
    margin-left: 10px;


}

.progressTextInactive{
    margin-left: 10px;
    margin-right: 10px;

}

.progressLine{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
