.chatOnlineBuddy {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.chatOnlineProfilePicContainer {
    position: relative;
}

.chatOnlineProfilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chatOnlineStatus {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    right: 0;
}