.navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    
}

.navbarTitle{
    font-size: 3rem;
    color: #0055A2;
    text-decoration: none;
    font-family: 'Domine';
    font-weight: bold;
}

.navbarLogin{
    font-size: 1.5em;
    color: #0055A2;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
}